{% extends 'base.html' %}
{% block content %}
  <div class="row mt-2">
    <div class="col-md-4">
      <h3>test</h3>
      <hr />
    </div>
    <div class="col-md-8">
      <div>
        <canvas id="myChart"></canvas>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>

      const ctx = document.getElementById('myChart')

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [
            {% for n in all_nutris %} 
              '{{n.food_name}}', 
            {% endfor %}
          ],
          datasets: [
            {
              label: 'energy(kcal)',

              data: [
                {% for n in all_nutris %} 
                  '{{n.energy}}', 
                {% endfor %}
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            y: {
                beginAtZero: true
              }
          }
        }
      })
      </script>

      <div>
        <canvas id="myChart2"></canvas>
      </div>

      <script>
        const ctx2 = document.getElementById('myChart2')
        
        const oneFoodData = JSON.parse('{{ one_food_data_json|escapejs }}');
        
        const labels = ['carbohydrate', 'protein', 'fat'];
        const data = labels.map(label => oneFoodData[label]);
        
        // Calculate the total amount of nutrition
        const totalNutrition = data.reduce((a, b) => a + b, 0);
        
        new Chart(ctx2, {
            type:'pie',
            data:{
                labels :labels,
                datasets:[{
                    label:'',
                    data:data,
                    borderWidth :1
                }]
            },
            options:{
                responsive:true,
                maintainAspectRatio:false,
                plugins: {
                    tooltip:{
                        callbacks:{
                            label: function(context) {
                                var datasetLabel=context.dataset.label || '';
                                var currentValue=context.parsed;
                                var percentage=Math.round((currentValue/totalNutrition)*100);
                                
                                return datasetLabel+': '+currentValue+'g ('+percentage+'%)';
                            }
                        }
                    }  
                }
            }  
        });
        </script>
    </div>
  </div>
{% endblock %}
