{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load tz %}

<div class="row mt-5">
  <div class="col-6">
    <h4 class="mb-3">식단 일지 수정</h4>
      <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="titleInput" name="title" value="{{ post.title }}" required>
            </div>

            <div>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width:100%; max-height:640px;">
            {% endif %}
            </div>
            <div class="mb-3 mt-3">
                <textarea class="form-control" id="textInput" rows="6" name="text_content" required>{{ post.text_content }}</textarea>

            </div>
            <div class="mb-3">
                <input type="date" id="date" name="post_time" value="{{ post.post_time|timezone:'Asia/Seoul'|date:'Y-m-d' }}" required>
                {{ form.hour }}시
            </div>
          </div>
          {% if post.detection_result is not None %}
          <div class="col-6">
            <h4>음식 수정</h4>
            <p>다른 음식으로 잘못 등록되었다면 수정 및 삭제할 수 있습니다</p>
            <p>{{ nutrition_edit_form.as_p }}</p>
            <p>{{ form.delete }}</p>
          </div>
          {% endif %}
          
          <div class="col-12 text-left mt-3">
          <button type="submit" class="btn btn-primary">수정</button>
          </div>
      </form>
    </div>
</div>

{% endblock %}