{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row mt-5">
  <div class="col-6">
    <h4 class="mb-3">식단 일지 수정</h4>
      <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="titleInput" name="title" value="{{ post.title }}" required>
            </div>

            <div>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width:100%; max-height:640px;">
            {% endif %}
            </div>
            <div class="mb-3 mt-3">
                <textarea class="form-control" id="textInput" rows="6" name="text_content" required>{{ post.text_content }}</textarea>

            </div>
            <div class="mb-3">
                <input type="date" id="date" name="post_time" value="{{post.post_time.date|date:'Y-m-d'}}" required>
                {{ form.hour }}시
            </div>
          </div>
          
          <div class="col-6">
            <h3>음식 수정</h3>
            <p>{{ nutrition_edit_form.as_p }}</p>
            <p>{{ form.delete }}</p>
          </div>
          
          <div class="col-12 text-center mt-3">
          <button type="submit" class="btn btn-primary">수정</button>
          </div>
      </form>
    </div>
</div>


<!-- 
<script>
$('#testTree').jstree({
	'core' : { "check_callback" :  true },
	'data' : treeList,
	'plugins' : ["dnd","contextmenu"]
})
</script> -->

{% endblock %}