{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="GET">
                <div class="row">
                    <div class="col">
                            <label for="{{ form.start_date.id }}">시작 날짜</label>
                            {{ form.start_date }}
                    </div>
                    <div class="col">
                            <label for="{{ form.end_date.id }}">마지막 날짜</label>
                            {{ form.end_date }}
                    </div>
                </div>    
                <div class="row">    
                    <div class="col">
                        <button type="submit" class="btn btn-success">기간검색</button>
                        <a href="{% url 'yolov5_django:my_page' %}" class="btn btn-secondary">검색 해제</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <a href="{% url 'yolov5_django:upload_post' %}" class="btn btn-primary">새 게시물 작성</a>
        </div>
        <div class="col-md-auto">
            <a href="{% url 'accounts:profile' %}" class="btn btn-info">프로필 페이지</a>
        </div>
    </div>  
</div>

<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    {% for post in posts %}
    <div class="col">
        <div class="card">
            <a href="{% url 'yolov5_django:detail_post' post.id %}">
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p>{{ post.post_time|date:"Y" }}년 {{ post.post_time|date:"m" }}월 {{ post.post_time|date:"d" }}일 {{ post.hour }}시</p>
            </div>
            <div class="card-body">
                <a href="{% url 'yolov5_django:edit_post' post.id %}" class="btn btn-warning">수정</a>
                <a href="#" class="btn btn-danger delete-button" data-post-id="{{ post.id }}" data-delete-url="{% url 'yolov5_django:delete_post' post.id %}">삭제</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="page-item disabled">
            <a class="page-link">{{ i }}</a>
          </li>
        {% elif i > posts.number|add:-2 and i < posts.number|add:3 %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
        {% endfor %}

      {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endif %}      

<!-- Modal pop-up -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>게시글을 삭제하시겠습니까?</p>
        <button id="confirmDelete" class="delete-button-yes">삭제</button>
        <button id="cancelDelete" class="delete-button-no">취소</button>
    </div>
</div>

<style>
    #deleteModal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 999; 
        text-align: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
    }

    .delete-button-yes {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .delete-button-no {
        background-color: gray;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<script>
    
    var deleteButtons = document.querySelectorAll(".delete-button");
    var deleteModal = document.getElementById("deleteModal");
    var confirmDelete = document.getElementById("confirmDelete");
    var cancelDelete = document.getElementById("cancelDelete");

    deleteButtons.forEach(function(button) {
        button.onclick = function() {
            
            var postId = button.getAttribute("data-post-id");
            var deleteUrl = button.getAttribute("data-delete-url");

           
            deleteModal.style.display = "block";

            
            confirmDelete.setAttribute("data-post-id", postId);

            
            confirmDelete.setAttribute("data-delete-url", deleteUrl);
        }
    });

    confirmDelete.onclick = function() {
        
        var postId = confirmDelete.getAttribute("data-post-id");
        var deleteUrl = confirmDelete.getAttribute("data-delete-url");

        
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", deleteUrl);

        
        var csrfToken = document.createElement("input");
        csrfToken.setAttribute("type", "hidden");
        csrfToken.setAttribute("name", "csrfmiddlewaretoken");
        csrfToken.setAttribute("value", "{{ csrf_token }}");
        form.appendChild(csrfToken);

      
        var postIdInput = document.createElement("input");
        postIdInput.setAttribute("type", "hidden");
        postIdInput.setAttribute("name", "post_id");
        postIdInput.setAttribute("value", postId);
        form.appendChild(postIdInput);

        
        document.body.appendChild(form);
        form.submit();
    }

    cancelDelete.onclick = function() {
        deleteModal.style.display = "none";
    }
</script>


{% endblock %}