{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <h4 class="mb-3">식단 일지 작성</h4>
        <form method="POST" enctype="multipart/form-data" onsubmit="showLoading()">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="titleInput" name="title" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="textInput" rows="15" name="text_content" required></textarea>
                <div id="textHelp" class="form-text">나만의 식단 일지를 작성해보세요</div>
            </div>
            <div class="mb-3">
                <input type="date" id="date" name="post_time" required>
                {{ form.hour }}시
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" id="formFile" type="file" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
</div>



<!--분석중-->
<div id="spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <img src="{% static 'images/Spinner.gif' %}" alt="분석중">
</div>

<script>
    function showLoading() {
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'block';
    
        setTimeout(function() {
            spinner.style.display = 'none';
        }, 20000);
    }
</script>

{% endblock %}