{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <h4 class="mb-3">식단 일지 작성</h4>
        <form method="POST" enctype="multipart/form-data" onsubmit="showLoading()">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="titleInput" name="title" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="textInput" rows="6" name="text_content" required></textarea>
                <div id="textHelp" class="form-text">나만의 식단 일지를 작성해보세요</div>
            </div>
            <div class="mb-3">
                <input type="date" id="date" name="post_time" required>
                <select class="js-example-basic-single" name="hour" required>
                    <option value="0">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    </select>시
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" id="formFile" type="file" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
</div>



<!--분석중-->
<div id="spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <img src="{% static 'images/Spinner.gif' %}" alt="분석중">
</div>

<script>
    function showLoading() {
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'block';
    
        setTimeout(function() {
            spinner.style.display = 'none';
        }, 20000);
    }
</script>

{% endblock %}