<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'yolov5_django:index' %}">
      <i class="fa-solid fa-house"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'accounts:profile' %}">{{user}}님</a>
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
        <a class="nav-link" href="{% url 'yolov5_django:upload_image' %}">(임시)업로드</a>
        <a class="nav-link" href="{% url 'yolov5_django:image_list' %}">(임시)작성글보기</a>

        {% else %}
        <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
        <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>